[Desktop Entry]
Name=CyberRadio Driver Documentation
Comment=CyberRadio Driver Documentation
Type=Link
Categories=Other
URL=file:///usr/share/doc/cyberradiodriver-doc/html/index.html
